		#brandcontent{
			height: 500px;
		}
		#brandcontent table{
			width: 100%;
			table-layout: fixed;
		}
		#brandcontent tr{
			height: 30px;
			text-align: center;
		}
		td{
			border: 1px black solid;
			width: 100%;
			white-space: normal;
			word-break: break-all;
			word-wrap: break-word;
		}
		#td_id{
			width: 10%;
		}
/* 		#td_id2{ */
/* 			width: 10%; */
/* 		} */
		#td_name{
			width: 20%;	
		}
		#td_color{
			width: 10%;
		}
		#td_model{
			width: 10%;
		}
		#td_total{
			width: 10%;
		}
		#td_lastbtn{
			width: 3%;
		}
