		.searchbtn{
			vertical-align: middle;
			white-space: nowrap;
			padding-right: 0;
		}
		#search{
			width: 100%;
			height: 40px;
			background: white;
			font-size: 10pt;
			float: left;
			color: #2b303b;;
			padding-left: 15px;
			border-radius: 5px;
		}
		.icon{
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border: none;
			background: #232833;
			height: 40px;
			width: 40px;
			color: #4f5b66;
			font-size: 10pt;
			outline: none;
			margin-left: -40px;
			background: #2b303b;
		}
		.dropdown-menu {
    		min-width: 130%;
		}
		.dropdown-menu li{
			margin-bottom: 5px;
		}
		.dropdown-menu li:hover{
			background-color: #F0F0F0;
		}
		.dropdown-menu a{
			color: black;
		}
		.dropdown-menu a:hover{
			text-decoration:none;
			color: black;
		}
		.dropdown-submenu{
			position:relative;
			text-align: center;
			margin-bottom: 5px; 
		}
		.dropdown-submenu>.dropdown-menu{
			top:0;
			left:100%;
			margin-top:-6px;
			margin-left:-1px;
			border-radius:0 6px 6px 6px;
			text-align: center;
		}
		.dropdown-submenu:hover>.dropdown-menu{
			display:block;
		}
		.dropdown-submenu>a:after{
			display:block;
			float:right;width:0;
			height:0;
			border-style:solid;
			border-width:5px 0 5px 5px;
			border-left-color:#cccccc;
			margin-top:5px;
			margin-right:-10px;
		}
		.dropdown-submenu:hover>a:after{
			border-left-color:#ffffff;
		}
		#product_name{
			padding-left: 10px;
			border: 1px solid black;
			font-size: 25px;
		}
		.product_img{
			text-align: center;
		}
		.product_img img{
			width: 70%;
			
		}
		#product_cus{	
			float: left;
			width: 60%;
			margin-left: 20px;
		}
		#product_cus td{
			font-size: 130%;
			padding-left: 10px;
		}
		#product_join{
			float: left;
			width: 30%;
			margin-right: 10px;
			padding-left: 5px;
			padding-right: 5px;
			text-align: center;
			margin-top: 20px;
			border: 1px black solid;
		}
		#product_join button{
			width: 100%;
			margin-top: 10px;
			height: 50px;
			margin-bottom: 10px; 
		}
		.second_td{
			padding-top: 8px;
			margin-left: 10px;
		}
		.allsecond_td{
			padding-left: 10px;
		}
		#product_infor1{
			width: 35%;
			float: left;
			border-right: 1px black solid
		}
		#product_infor2{
			width: 65%;
			float: left;
			padding-left: 20px;
		}
		.cus_message{ 
			border: 1px black solid; 
			padding: 10px; 
		}
		.slider {
        width: 90%;
        margin: 15px auto;
	    }

	    .slick-slide {
	      margin: 0px 10px;
	    }

	    .slick-slide img {
	      width: 100%;
	    }

	    .slick-prev:before .slick-next:before {
	      color: black;
	    }