<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EA101_G4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--BikeTypeServlet Controller  -->
  <servlet>
    <servlet-name>BikeTypeServlet</servlet-name>
    <servlet-class>com.bike.type.controller.BikeTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BikeTypeServlet</servlet-name>
    <url-pattern>/bike/BikeTypeServlet.do</url-pattern>
  </servlet-mapping>
  <!--BikeStore Controller  -->
    <servlet>
    <servlet-name>BikeStoreServlet</servlet-name>
    <servlet-class>com.bike.type.controller.BikeStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BikeStoreServlet</servlet-name>
    <url-pattern>/bike/BikeStoreServlet.do</url-pattern>
  </servlet-mapping>
  <!--DBReader Controller  -->
  <servlet>
    <servlet-name>DBReader</servlet-name>
    <servlet-class>com.photo.controller.DBReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBReader</servlet-name>
    <url-pattern>/photo/DBReader.do</url-pattern>
  </servlet-mapping>
  <!--InsertDBReader2 Controller  -->
  <servlet>
    <servlet-name>InsertDBReader2</servlet-name>
    <servlet-class>com.photo.controller.InsertDBReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDBReader2</servlet-name>
    <url-pattern>/photo/DBReader2.do</url-pattern>
  </servlet-mapping>
  
<!--   筑峰 -->
  <servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.member.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/member/mem.do</url-pattern>
	</servlet-mapping>	
	<servlet>
    <servlet-name>MemDBReader</servlet-name>
    <servlet-class>com.member.model.MemDBReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemDBReader</servlet-name>
    <url-pattern>/member/DBReader.do</url-pattern>
  </servlet-mapping>
	
	<servlet>
		<servlet-name>StaffServlet</servlet-name>
		<servlet-class>com.staff.controller.StaffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffServlet</servlet-name>
		<url-pattern>/staff/staff.do</url-pattern>
	</servlet-mapping>
</web-app>



