<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EA101_G4</display-name>
	<welcome-file-list>
		<welcome-file>/front-end/index/index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- 琮寶 -->
<!-- 	listener -->
  <listener>
    <listener-class>com.bike.listener.InitalizeBikeMaster</listener-class>
  </listener>
<!-- 	listener -->
	<!-- WeatherServlet -->
	<servlet>
		<servlet-name>WeatherServlet</servlet-name>
		<servlet-class>com.weather.scheduler.WeatherServlet</servlet-class>
<!-- 		<load-on-startup>10</load-on-startup> 上限開起-->
	</servlet>
	<servlet-mapping>
		<servlet-name>WeatherServlet</servlet-name>
		<url-pattern>/WeatherServlet.do</url-pattern>
	</servlet-mapping>
	<!-- WeatherServlet -->
	<!-- BikeRentDetailServlet -->
	<servlet>
		<servlet-name>BikeRentMasterServlet</servlet-name>
		<servlet-class>com.bike.rent.master.controller.BikeRentMasterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BikeRentMasterServlet</servlet-name>
		<url-pattern>/bike/BikeRentMasterServlet.do</url-pattern>
	</servlet-mapping>
	<!-- BikeRentDetailServlet -->
	<!-- BikeRentDetailServlet -->
	<servlet>
		<servlet-name>BikeRentDetailServlet</servlet-name>
		<servlet-class>com.bike.rent.detail.controller.BikeRentDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BikeRentDetailServlet</servlet-name>
		<url-pattern>/bike/BikeRentDetailServlet.do</url-pattern>
	</servlet-mapping>
	<!-- BikeRentDetailServlet -->
	<!-- BikeEcpayServlet -->
	<servlet>
		<servlet-name>BikeEcpayServlet</servlet-name>
		<servlet-class>com.bike.store.controller.BikeEcpayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BikeEcpayServlet</servlet-name>
		<url-pattern>/bike/BikeEcpayServlet.do</url-pattern>
	</servlet-mapping>
	<!--BikeStoreDBReader -->
	<servlet>
		<servlet-name>BikeStoreDBReader</servlet-name>
		<servlet-class>com.bike.store.controller.BikeStoreDBReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BikeStoreDBReader</servlet-name>
		<url-pattern>/bike/BikeStoreDBReader.do</url-pattern>
	</servlet-mapping>
	<!-- BikeStoreAjaxServlet -->
	<servlet>
		<servlet-name>BikeStoreAjaxServlet</servlet-name>
		<servlet-class>com.bike.store.controller.BikeStoreAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BikeStoreAjaxServlet</servlet-name>
		<url-pattern>/bike/BikeStoreAjaxServlet.do</url-pattern>
	</servlet-mapping>
	<!--BikeServlet Controller -->
	<servlet>
		<servlet-name>BikeServlet</servlet-name>
		<servlet-class>com.bike.bike.controller.BikeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BikeServlet</servlet-name>
		<url-pattern>/bike/BikeServlet.do</url-pattern>
	</servlet-mapping>

	<!--BikeTypeServlet Controller -->
	<servlet>
		<servlet-name>BikeTypeServlet</servlet-name>
		<servlet-class>com.bike.type.controller.BikeTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BikeTypeServlet</servlet-name>
		<url-pattern>/bike/BikeTypeServlet.do</url-pattern>
	</servlet-mapping>
	<!--BikeStore Controller -->
	<servlet>
		<servlet-name>BikeStoreServlet</servlet-name>
		<servlet-class>com.bike.store.controller.BikeStoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BikeStoreServlet</servlet-name>
		<url-pattern>/bike/BikeStoreServlet.do</url-pattern>
	</servlet-mapping>
	<!--DBReader Controller -->
	<servlet>
		<servlet-name>DBReader</servlet-name>
		<servlet-class>com.photo.controller.DBReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBReader</servlet-name>
		<url-pattern>/photo/DBReader.do</url-pattern>
	</servlet-mapping>
	<!--InsertDBReader2 Controller -->
	<servlet>
		<servlet-name>InsertDBReader2</servlet-name>
		<servlet-class>com.photo.controller.InsertDBReader2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertDBReader2</servlet-name>
		<url-pattern>/photo/DBReader2.do</url-pattern>
	</servlet-mapping>

	<!-- KaiNong -->
	<servlet>
		<servlet-name>showImg</servlet-name>
		<servlet-class>imgReader.showImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showImg</servlet-name>
		<url-pattern>/showImg</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>showImg2</servlet-name>
		<servlet-class>imgReader.showImg2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showImg2</servlet-name>
		<url-pattern>/showImg2/showImg2.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>showImg4</servlet-name>
		<servlet-class>imgReader.showImg4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showImg4</servlet-name>
		<url-pattern>/showImg4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BrandServlet</servlet-name>
		<servlet-class>com.brand.controller.BrandServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BrandServlet</servlet-name>
		<url-pattern>/back-end/BrandBack/brand.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Shop_productServlet</servlet-name>
		<servlet-class>com.shop_product.controller.Shop_productServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shop_productServlet</servlet-name>
		<url-pattern>/shop_product.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShoppingServlet</servlet-name>
		<servlet-class>com.shopping.controller.ShoppingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingServlet</servlet-name>
		<url-pattern>/shopping.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductEcpayServlet</servlet-name>
		<servlet-class>com.shopping.controller.ProductEcpayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductEcpayServlet</servlet-name>
		<url-pattern>/shopMall/productEcpayServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Shop_orderServlet</servlet-name>
		<servlet-class>com.shop_order.controller.Shop_orderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shop_orderServlet</servlet-name>
		<url-pattern>/back-end/Shop_order/shop_order.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StoreServlet</servlet-name>
		<servlet-class>com.store.controller.storeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreServlet</servlet-name>
		<url-pattern>/store/storeServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CollectionServlet</servlet-name>
		<servlet-class>com.product_collection.controller.Product_CollectionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollectionServlet</servlet-name>
		<url-pattern>/collectionServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Product_StockServlet</servlet-name>
		<servlet-class>com.product_stock.controller.Product_stockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Product_StockServlet</servlet-name>
		<url-pattern>/stockServlet.do</url-pattern>
	</servlet-mapping>
	
	<!-- 筑峰 -->
	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.member.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/member/mem.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemServlet_FrontEnd</servlet-name>
		<servlet-class>com.member.controller.MemServlet_FrontEnd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet_FrontEnd</servlet-name>
		<url-pattern>/member/memFE.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MemDBReader</servlet-name>
		<servlet-class>com.member.model.MemDBReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemDBReader</servlet-name>
		<url-pattern>/member/DBReader.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemDBReader2</servlet-name>
		<servlet-class>com.member.model.MemDBReader2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemDBReader2</servlet-name>
		<url-pattern>/member/DBReader2.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MemSessionImg</servlet-name>
		<servlet-class>com.member.model.MemSessionImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemSessionImg</servlet-name>
		<url-pattern>/member/MemSessionImg.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MemSessionBackImg</servlet-name>
		<servlet-class>com.member.model.MemSessionBackImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemSessionBackImg</servlet-name>
		<url-pattern>/member/MemSessionBackImg.do</url-pattern>
	</servlet-mapping>
	
<servlet>
		<servlet-name>ForumDBReader</servlet-name>
		<servlet-class>com.forum.model.ForumDBReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForumDBReader</servlet-name>
		<url-pattern>/forum/ForumDBReader.do</url-pattern>
	</servlet-mapping>
	

<!-- 	StaffDBReader -->
<servlet>
		<servlet-name>StaffDBReader</servlet-name>
		<servlet-class>com.staff.model.StaffDBReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffDBReader</servlet-name>
		<url-pattern>/staff/StaffDBReader.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StaffServlet</servlet-name>
		<servlet-class>com.staff.controller.StaffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffServlet</servlet-name>
		<url-pattern>/staff/staff.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ForumServlet</servlet-name>
		<servlet-class>com.forum.controller.ForumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForumServlet</servlet-name>
		<url-pattern>/forum/forum.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ForumMessageServlet</servlet-name>
		<servlet-class>com.forum_message.controller.ForumMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForumMessageServlet</servlet-name>
		<url-pattern>/forum/forum_message.do</url-pattern>
	</servlet-mapping>

	<!-- login前台登入使用 -->
	<servlet>
		<servlet-name>MemLoginServlet</servlet-name>
		<servlet-class>com.member_login.controller.MemLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemLoginServlet</servlet-name>
		<url-pattern>/login/memlogin.do</url-pattern>
	</servlet-mapping>
	
	<!-- login後台登入使用 -->
	<servlet>
		<servlet-name>StaffLoginServlet</servlet-name>
		<servlet-class>com.staff_login.controller.StaffLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffLoginServlet</servlet-name>
		<url-pattern>/login/stafflogin.do</url-pattern>
	</servlet-mapping>

	
		
	<!-- 宗霖 -->
	<servlet>
		<servlet-name>ActServlet</servlet-name>
		<servlet-class>com.act.controller.ActServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActServlet</servlet-name>
		<url-pattern>/act/ActServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBGifReader2</servlet-name>
		<servlet-class>com.act.controller.DBGifReader2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReader2</servlet-name>
		<url-pattern>/act/DBGifReader2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActJoinServlet</servlet-name>
		<servlet-class>com.actjoin.controller.ActJoinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActJoinServlet</servlet-name>
		<url-pattern>/act/ActJoinServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActFavorServlet</servlet-name>
		<servlet-class>com.actfavor.controller.ActFavorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActFavorServlet</servlet-name>
		<url-pattern>/act/ActFavorServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActReportServlet</servlet-name>
		<servlet-class>com.actreport.controller.ActReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActReportServlet</servlet-name>
		<url-pattern>/act/ActReportServlet.do</url-pattern>
	</servlet-mapping>

	<!--芷薇 -->
	<servlet>
  	<servlet-name>RouteServlet</servlet-name>
  	<servlet-class>com.route.controller.RouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RouteServlet</servlet-name>
  	<url-pattern>/front-end/route/route.do</url-pattern>
  	<url-pattern>/back-end/route/route.do</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>RouteImgServlet</servlet-name>
  	<servlet-class>com.route.controller.RouteImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RouteImgServlet</servlet-name>
  	<url-pattern>/front-end/route/route.img</url-pattern>
  	<url-pattern>/back-end/route/route.img</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RouteDeImgServlet</servlet-name>
  	<servlet-class>com.routeDetail.controller.RouteDeImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RouteDeImgServlet</servlet-name>
  	<url-pattern>/front-end/route/step.img</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  	<servlet-name>WaterStationServlet</servlet-name>
  	<servlet-class>com.waterStation.controller.WaterStationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WaterStationServlet</servlet-name>
  	<url-pattern>/back-end/waterStation/water.do</url-pattern>
  	<url-pattern>/front-end/waterStation/water.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WaterStationImgServlet</servlet-name>
  	<servlet-class>com.waterStation.controller.WaterStationImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WaterStationImgServlet</servlet-name>
  	<url-pattern>/back-end/waterStation/water.stationImage</url-pattern>
  	<url-pattern>/front-end/waterStation/water.stationImage</url-pattern>
  </servlet-mapping>
  <!--怡蘋 -->
  <servlet>
		<servlet-name>QuestionServlet</servlet-name>
		<servlet-class>com.question.controller.QuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionServlet</servlet-name>
		<url-pattern>/question/question.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>TipsServlet</servlet-name>
		<servlet-class>com.tips.controller.TipsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TipsServlet</servlet-name>
		<url-pattern>/tips/tips.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DBGifReaderfromtips</servlet-name>
		<servlet-class>com.tips.controller.DBGifReader2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReaderfromtips</servlet-name>
		<url-pattern>/tips/DBGifReader2.do</url-pattern>
	</servlet-mapping>

	<!-- 連線池 -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/EA101_G4</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<!-- 	filter前台使用 -->
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>com.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>MemberLoginFilter</filter-name>
		<filter-class>com.filter.MemberLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MemberLoginFilter</filter-name>
<!-- 		bike -->
		<url-pattern>/front-end/bike/detail.jsp</url-pattern>
		<url-pattern>/front-end/bike/memberOrder.jsp</url-pattern>
		
<!-- 		activity -->
		<url-pattern>/front-end/activity/Actmanagement.jsp</url-pattern>
		<url-pattern>/front-end/activity/ActivityOne.jsp</url-pattern>
		<url-pattern>/front-end/activity/FrontaddAct.jsp</url-pattern>
		<url-pattern>/front-end/activity/ActivityArea.jsp</url-pattern>
<!-- 		shop -->
		<url-pattern>/front-end/shopMall/shopPayDetail.jsp</url-pattern>
		<url-pattern>/front-end/member/goodCollection.jsp.jsp</url-pattern>
<!-- 		route -->
		<url-pattern>/front-end/route/setRouteBySelf.jsp</url-pattern>
		<url-pattern>/front-end/waterStation/insertWs.jsp</url-pattern>
<!-- member -->
		<url-pattern>/front-end/member/listOneMem.jsp</url-pattern>
<!-- 		討論區 -->
		<url-pattern>/front-end/forum/*</url-pattern>
		
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<!-- 	filter後台使用 -->
	<filter>
		<filter-name>staffLoginFilter</filter-name>
		<filter-class>com.filter.StaffLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>staffLoginFilter</filter-name>
		<url-pattern>/back-end/activity/*</url-pattern>
<!-- 		<url-pattern>/back-end/bike/*</url-pattern> -->
<!-- 		<url-pattern>/back-end/bikeStore/*</url-pattern> -->
<!-- 		<url-pattern>/back-end/bikeType/*</url-pattern> -->
		<url-pattern>/back-end/BrandBack/*</url-pattern>
 		<url-pattern>/back-end/forum/*</url-pattern> 
		<url-pattern>/back-end/joinActivity/*</url-pattern>
		<url-pattern>/back-end/member/*</url-pattern>
		<url-pattern>/back-end/question/*</url-pattern>
		<url-pattern>/back-end/resportActivity/*</url-pattern>
		<url-pattern>/back-end/route/*</url-pattern>
		<url-pattern>/back-end/Shop_order/*</url-pattern>
		<url-pattern>/back-end/Shop_product/*</url-pattern>
		<url-pattern>/back-end/staff/*</url-pattern>
		<url-pattern>/back-end/tips/*</url-pattern>
		<url-pattern>/back-end/waterStation/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>



</web-app>